/* REGISTER PAGE */

.register-container{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#0d0d0d;
font-family:Arial, Helvetica, sans-serif;
}

.register-card{
background:#111;
padding:40px;
border-radius:10px;
width:350px;
box-shadow:0 0 10px rgba(0,0,0,0.5);
border:1px solid #222;
}

.register-title{
text-align:center;
color:#ff7a00;
margin-bottom:25px;
font-size:26px;
}

.register-form{
display:flex;
flex-direction:column;
gap:15px;
}

.register-input{
padding:12px;
border-radius:6px;
border:1px solid #333;
background:#1a1a1a;
color:white;
font-size:14px;
outline:none;
}

.register-input:focus{
border:1px solid #ff7a00;
}

.register-btn{
background:#ff7a00;
color:white;
border:none;
padding:12px;
border-radius:6px;
font-size:15px;
cursor:pointer;
transition:0.2s;
}

.register-btn:hover{
background:#ff8f1f;
}

.register-footer{
text-align:center;
margin-top:15px;
font-size:14px;
color:#aaa;
}

.register-footer a{
color:#ff7a00;
text-decoration:none;
}