.results-container{
  padding:40px;
}

.results-card{
  background:#111;
  border:1px solid #333;
  padding:20px;
  border-radius:10px;
  margin-bottom:30px;
}

.results-card h2{
  margin-bottom:20px;
  color:#ff7a18;
}

table{
  width:100%;
  border-collapse:collapse;
}

th{
  background:#1e1e1e;
  padding:10px;
  text-align:left;
}

td{
  padding:10px;
  border-top:1px solid #333;
}

tr:hover{
  background:#1a1a1a;
}

.status{
  padding:4px 10px;
  border-radius:6px;
  font-size:12px;
}

.accepted{
  background:#123c1f;
  color:#00ff88;
}

.wrong{
  background:#3c1212;
  color:#ff4d4d;
}